#upload-file{
    display:none;
  }
  .glyphicon{
    font-size:4em
  }
  #container{
    margin:8em
  }
  body {
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }
  .form input {
    margin: 10px 0;
    width: 100%;
    background-color: #e2e2e2;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 4px;
  }



  .btn {
    text-decoration: none;
    background-color: #ed6868;
    color: #ffffff;
    padding: 10px 60px;
    border: none;
    outline: none;
    transition: 0.3s;
  }
  
  .btn:hover{
    text-decoration: none;
    background-color: #ffffff;
    color: #95b9f7;
    padding: 10px 20px;
    border: none;
    outline: 1px solid #010101;
  }






  .btn1 {
    text-decoration: none;
    border-radius: 5px;
    background-color: #484a3a;
    color: #ffffff;
    margin: auto;
    padding: 10px 20px;
    border: none;
    outline: none;
    transition: 0.3s;
  }
  
  .btn1:hover{
    text-decoration: none;
    background-color: #ffffff;
    color: #434d5f;
    padding: 10px 20px;
    margin: auto;
    border: none;
    outline: 1px solid #010101;
  }

  
  input{
    display: none;
  }
  
  label{
    cursor: pointer;
}

/*11111111111111111111111111111111111111111111111111111111111111111111******11111111111111111111111111111111111111
1111111111111111111111111111111111111111111111111111111111111111111******11111111111111111111111111111111111111
1111111111111111111111111111111111111111111111111111111111111111111******11111111111111111111111111111111111111

1111111111111111111111111111111111111111111111111111111111111111111******11111111111111111111111111111111111111
1111111111111111111111111111111111111111111111111111111111111111111******11111111111111111111111111111111111111
v
1111111111111111111111111111111111111111111111111111111111111111111******11111111111111111111111111111111111111
1111111111111111111111111111111111111111111111111111111111111111111******11111111111111111111111111111111111111
1111111111111111111111111111111111111111111111111111111111111111111******11111111111111111111111111111111111111
1111111111111111111111111111111111111111111111111111111111111111111******11111111111111111111111111111111111111

1111111111111111111111111111111111111111111111111111111111111111111******11111111111111111111111111111111111111
1111111111111111111111111111111111111111111111111111111111111111111******11111111111111111111111111111111111111
1111111111111111111111111111111111111111111111111111111111111111111******11111111111111111111111111111111111111
1111111111111111111111111111111111111111111111111111111111111111111******11111111111111111111111111111111111111
111111111111111111111**********************1111111111111111111111111111111111111111111111******11111111111111111111111111111111111111
1111111111111111111111111111111111111111111111111111111111111111111******11111111111111111111111111111111111111



111111111******************ملف حالة الطلب********************11111*/


